type file
id {%= name %}
version 0.1.0
description
  The awesomest package ever
authors Andre Cato
files
 .\{%= name %}\bin\Debug\netcoreapp2.1\{%= name %}.dll
 .\{%= name %}\bin\Debug\netcoreapp2.1\{%= name %}.pdb
