framework: netcoreapp2.1
source https://nuget.org/api/v2

nuget Microsoft.AspNetCore.App
nuget Microsoft.AspNetCore.Razor.Design
nuget Microsoft.NET.Test.Sdk
nuget NUnit.Runners
nuget NUnit
nuget NUnit3TestAdapter
nuget Should
